:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}

	.resource {
		color: #ccc;
		background-color: #161616;
	}
}

#app {
	width: 100%;
	margin: 0 0;
	text-align: left;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
}

.color {
	padding: 10px;
	flex: 1 100px initial;
}

.name {
	padding: 10px;
	flex: 2 200px initial;
}

.message {
	padding: 10px;
	flex: 6 3 auto;
}

#send {
	margin: 10px;
	flex: 1 1 initial;
}